<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-column">
        <h3>DATOS CONTACTO</h3>
      <p>Bogotá, Colombia<br>
      <p><strong>Línea de atención al cliente</strong><br>
      Celular y WhatsApp:<br>
      322 885 0811<br>
      <p>
    </div>

    <div class="footer-column">
      <h3>SERVICIO AL CLIENTE</h3>
      <ul class="footer-links">
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Protección del consumidor</a></li>
        <li><a href="#">Superintendencia de industria y comercio SIC</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Computrabajo. Todos los derechos reservados | By joniscode.com</p>
  </div>
</footer>
