<header class="site-header">
    <div class="header-container">
        <a href="#main" class="logo">
            <img src="/public/img/Favicon.ico" alt="Logo del sitio" />
        </a>
        <nav class="main-nav">
            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-list">
                <li><a href="#main">Inicio</a></li>
                <li><a href="#employees">Empleados</a></li>
                <li><a href="#about">Acerca</a></li>
                <li><a href="#contactenos">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
